/* styling for the whole webpage  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgreen;
}

/* this is the styling for the head section  */
.main-header-footer-flex {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    border: 5px solid #2E6EF5 ;
    padding: 50px;
}

.sub-header {
    width: 400px;
    height: 100px;
    border: 5px solid #FF7F50;
    background-color: #FBCEB1;
}

.header-flex-two {
    display: flex;
    padding: 5px;
}

.sub-header-two {
    width: 350px;
    height: 80px;
    border: 5px solid #F52E4C;
    background-color: #F5879D;
}


/* this is where the "main body" style would live  */
.main {
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: space-between;
}

.main-left-side {
    height: 400px;
    width: 700px;
    margin-left: 10px;
    border: 5px solid #CF294B;
    background-color: #CF8A98;
}

.main-right-side {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
}

.main-right-sub { 
    height: 190px;
    width: 700px;
    margin-right: 10px;
    border: 5px solid #CF294B;
    background-color: #CF8A98;
}

/* where the footer styling lives */
